apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - configmap.yaml
  - serviceaccount.yaml
  - ingress.yaml
  - pdb.yaml
  - networkpolicy.yaml

labels:
  - pairs:
      app.kubernetes.io/name: xfx-adapter
      app.kubernetes.io/component: adapter
      app.kubernetes.io/part-of: checker
    includeSelectors: false
