apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rio-adapter-dev
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/Checker-Finance/adapters.git
    targetRevision: main
    path: rio-adapter/k8s/overlays/dev
  destination:
    server: https://kubernetes.default.svc
    namespace: rio-adapter-dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
